<div class="main">
    <form action="" class="form-container">
        <div class="form-container-titulo">
            <app-horario></app-horario>
            <h2> Horario </h2>
        </div>
        <h3>Qual horario voce quer treinar</h3>
        <div class="morning">
            <input type="radio" name="morning" value="morning">
            <label for="morning">manhã</label>
            <span>6:00 as 12:00</span>
        </div>
        <div class="afternon">
            <input type="radio" name="afternon" value="afternon">
            <label>tarde</label>
            <span>12:00 as 18:00</span>
        </div>
        <div class="night">
            <input type="radio" name="night" value="night">
            <label for="night">noite</label>
            <span>18:00 as 23:00</span>
        </div>
        <div class="show-cloud">
            <input type="checkbox" name="show-cloud">
            <label for="show-cloud">Exibir unidades fechadas</label>
        </div>
    </form>
</div>